main,
h1,
p {
    padding: 1rem;
}

main {
    height: 350px;
    background-color: hsla(90,100%,50%,0.6);
}

h1 {
    background-color: hsla(0,100%,50%,0.6);
}

p {
    max-width: 400px;
    background-color: hsla(200,100%,50%,0.6);
}

/* ----------------------------- */
